body {
    font-family: 'Open Sans', sans-serif;
}

/*gradient under the menu*/
#custom-menu {
    background-color: #F4F4F4;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            #FF0000,
            #FA00FF,
            #0400D2,
            #00B2FF,
            #00FF57,
            #DBF72C,
            #FF8A00,
            #FF0000
    ) 0 0 100% 0;
}

#custom-menu ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#custom-menu .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0 10px 0 10px;
}

#custom-menu .nav-link:hover {
    font-weight: 800;
    color: #000000;
}

#custom-menu .dropdown-item {
    font-size: 13px;
    font-weight: normal;
    color: #000000;
}

/*right dropdown arrow*/
#custom-menu .dropdown-toggle::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: .6em;
    height: .6em;
    margin: -.3em 0 0 .4em;
    border-width: 0 .15em .15em 0;
    transform: rotateZ(45deg);
}

/*rotation of the dropdown arrow on show*/
#custom-menu .show.dropdown-toggle::after {
    margin: .3em 0 0 .4em;
    transform: rotateZ(-135deg)
}

/* dropdown menu top arrow */
#custom-menu .show.dropdown-toggle:before {
    content: "";
    border-top: 0;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid #F4F4F4;
    border-left: 0.5em solid transparent;
    position: relative;
    bottom: -21px;
    left: 50%;
}

#custom-menu .dropdown-toggle {
    padding-left: 16px !important;
}

#custom-menu .show.dropdown-toggle {
    padding-left: 0 !important;
}

#custom-menu .dropdown-menu {
    background-color: #F4F4F4;
    border: none;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
}

#custom-menu .dropdown-menu li > a:focus {
    background-image: none;
    background-color: darkgray;
}

#custom-menu .btn-red {
    color: #fff;
    background-color: #FF4242;
    border-color: #FF4242;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

#custom-menu .btn-red:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}