body {
    font-family: 'Open Sans', sans-serif;
}

#searchWrapper {
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    margin-top: 10px;
    max-height: 50px;
}

#searchString {
    margin-top: -22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: 95%;
    background-position-y: center;
}

#searchString.form-control:focus {
    border: none;
    box-shadow: none;
}

#searchLabel {
    padding: 0 5px 0 5px;
    font-size: 10px;
    color: #8D8D8D;
    background-color: white;
    position: relative;
    top: -15px;
    left: 30px;
}

#searchLabel.transparent {
    color: transparent;
    background-color: transparent;
}

#searchResults {
    margin-top: 10px;
    padding-top: 0 !important;
    background-color: #F4F4F4;
    font-size: 13px;
}

#searchResults:before {
    content: "";
    border-top: 0;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid #F4F4F4;
    border-left: 0.6em solid transparent;
    position: relative;
    top: -26px;
    left: 10%;
}

.product.first {
    margin-top: -20px;
}

.splitter {
    border-top: 1px solid #D9D9D9;
}

#productCard {
    background-color: #F4F4F4;
}

#productImage {
    max-height: 300px;
}

/*spinner*/

.loader {
    position: relative;
    top: -35px;
    right: -75%;
    width: 30px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes l23 {
    100% {
        transform: rotate(1turn)
    }
}