body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #fff;
}

#terminalHeader {
    width: 550px;
    /*box-sizing: border-box;*/
    height: 25px;
    background-color: #3E3E3E;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #3E3E3E;
    display: inline-block;
}

.bg-red {
    background-color: #ff3b47;
}

.bg-orange {
    background-color: #E5BC2A;
}

.bg-green {
    background-color: #00d742;
}

.text-red {
    color: #ff3b47;
}

.text-orange {
    color: #FF8A00; /*#E5BC2A*/
}

.text-green {
    color: #00d742;
}

#terminalBody {
    background-color: #151515; /*#121212;*/
    width: 550px;
    height: 400px;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px;
}

#terminalFooter {
    background-color: #151515; /*#121212;*/
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.terminal-output {
    overflow: auto;
}

.terminal-line {
    padding: 5px 10px 5px;
    background-color: #3E3E3E;
    border-radius: 5px;
}

/*blinkTextCursor*/
.anim-typewriter {
    animation: blinkTextCursor 0.75s ease-in-out infinite;
}

.line {
    margin-left: -6px;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.9;
    border-right: 7px solid rgb(122, 142, 255);
}

@keyframes blinkTextCursor {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.dummy-keyboard {
    opacity: 0;
    filter: alpha(opacity=0);
}

::-webkit-scrollbar {
    display: none;
}

#terminalPrompt {
    min-height: 20px;
}